<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <ui:include src="/WEB-INF/template/head.xhtml"/>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/template/header.xhtml"/>
        <ui:include src="/WEB-INF/template/mainMenu.xhtml"/>
        <div id="content">
            <!--breadcrumbs-->
            <ui:include src="/WEB-INF/template/breadCrumb.xhtml"/>
            <ui:insert name="content">Aqui va el contenido</ui:insert>
            <!--Footer-part-->
            <ui:include src="/WEB-INF/template/footer.xhtml"/>
            <!--end-Footer-part-->
            <ui:include src="/WEB-INF/template/scripts.xhtml"/>
        </div>
    </h:body>
</html>
