<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough">
      

    <h:head>
        <title>Matrix Admin</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/bootstrap.min.css" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/matrix-login.css" />
        <link href="#{request.contextPath}/resources/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'></link>
    </h:head>
    <h:body>
        <div id="loginbox">            
            <h:form id="loginform" class="form-vertical">
                <div class="control-group normal_text"> 
                    <!--<h3><img src="#{request.contextPath}/resources/img/logo.png" alt="Logo"/></h3>-->
                    <h:graphicImage library="img" name="logo.png"/>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg">
                                <i class="icon-user"/>
                            </span>
                            <h:inputText atr:placeholder="usuario"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly">
                                <i class="icon-lock"/>
                            </span>
                            <h:inputSecret atr:placeholder="Contraseña"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left">
                        <a href="#" class="flip-link btn btn-info" id="to-recover">
                            Lost password?
                        </a>
                    </span>
                    <span class="pull-right">
                        <h:commandButton class="btn btn-danger" value="Login"/>
                    </span>
                </div>
            </h:form>
            <h:form id="recoverform" class="form-vertical">
                <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                    </div>
                </div>

                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><a class="btn btn-info">Reecover</a></span>
                </div>
            </h:form>
        </div>

        <script src="#{request.contextPath}/resources/js/jquery.min.js"></script>  
        <script src="#{request.contextPath}/resources/js/matrix.login.js"></script> 
    </h:body>
</html>

